@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.sideitem {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
    color: $primary;
    text-decoration: none;
}

.linkText {
    padding-left: 20px;
    color: $primary;
    background-color: transparent;
}

.navBarLink {
    color: var(--primary-color);
}