@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.taskWrapper {
    display: flex;
    flex-direction: row;
}

.taskList {
    flex: 2;
}

.taskListCondensed {
    flex: 1;
}

.taskDetails {
    flex: 2;
}