@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.project-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
    padding: 5px;
    max-width: 100%;
    max-height: fit-content;
    vertical-align: middle;
}

.project-action-icon {
    top: 12px;
}