@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.login-form-body {
    @extend .panel;
    width: fit-content;
    height: fit-content;
}

.login-form-grid {
    display: flex;
}

.login-form-item {
    color: $secondary;
    margin: 20px;
    text-align: center;
}

button {
    color: $primary !important;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin-left: 0px !important;
}