@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.login-form-body {
    @extend .panel;
    max-width: fit-content;
    max-height: fit-content;
}

.login-form-grid {
    display: flex;
}

.login-form-item {
    color: $secondary;
    margin: 20px;
}

input[type="text"],
input[type="password"] {
    border-style: solid;
    border-width: 4px;
    border-color: $secondary;
    border-radius: 8px !important;
    background-color: $primary;
    color: $secondary;
    padding: 10px;
    margin: 10px;
    width: 100%;
}