@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.projects-panel {
    @extend .panel;
    max-width: 100%;
    max-height: fit-content;
}

.split-panel {
    @extend .grid-container;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    max-height: fit-content;
}