@use '../../styles/Custom.scss' as *;
@use '../../styles/Colors.scss' as *;

.projects-panel {
    @extend .panel;
    max-width: 100%;
    max-height: fit-content;
}

.split-panel {
    @extend .grid-container;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    max-height: fit-content;
}

.scrollable-panel-left {
    @extend .panel;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.scrollable-panel-right {
    @extend .panel;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.create-icon {
    display: inline-block;
    font-size: 52px;
    width: 52px;
    height: 52px;
    top: 10px;
    position: relative;
    color: $secondary;
    background-color: transparent;
    cursor: pointer;
}

.create-icon-disabled {
    @extend .create-icon;
    cursor: default;
    opacity: 0.2;
}

.control-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
    padding: 5px;
    max-width: 100%;
    max-height: fit-content;
    vertical-align: middle;
}