@use './Colors.scss' as *;

.grid-container {
    display: grid;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
    margin-top: 88px;
    margin-bottom: 0px;
    margin-left: 250px;
    margin-right: 0px;
}

.main-content-closed {
    transition: margin-left 0.3s ease-in-out;
    margin-top: 88px;
    margin-bottom: 0px;
    margin-left: 170px;
    margin-right: 0px;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

a {
    background-color: transparent;
    color: var(--secondary-color);
}

button {
    box-sizing: border-box;
    color: $primary;
    background-color: $secondary;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px black;
}

button:disabled {
    box-sizing: border-box;
    color: $primary;
    background-color: $secondary;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
    pointer-events: none;
    filter: opacity(0.4);
}

button:active {
    box-sizing: border-box;
    color: $primary;
    background-color: $secondary;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px black;
}

button:disabled:active {
    box-sizing: border-box;
    color: $primary;
    background-color: $secondary;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
    pointer-events: none;
    filter: opacity(0.4);
}

.panel {
    padding: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-color: $secondary;
    border-style: solid;
    color: $secondary;
    background-color: $primary;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.checkbox-span {
    display: inline-block;
    position: relative;
    margin: 3pt;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    content: "";
    margin: 2pt;
    will-change: auto;
}

input[type="checkbox"]:after {
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    color: $secondary;
    background-color: var(--background-color);
    border: 2px solid $secondary;
    border-radius: 5px;
    content: "";
    margin: 2pt;
    will-change: auto;
}

input[type="checkbox"]:checked:after {
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    color: $secondary;
    background-color: var(--background-color);
    content: "✓";
    margin: 2pt;
    will-change: auto;
}

input[type="checkbox"]:disabled:after {
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    color: $secondary;
    background-color: var(--background-color);
    filter: opacity(0.4);
    border: 2px solid $secondary;
    border-radius: 5px;
    content: "";
    margin: 2pt;
    will-change: auto;
}

input[type="checkbox"]:not(:disabled):checked:hover:after {
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    color: $secondary;
    background-color: $primary;
    content: "✓";
    margin: 2pt;
    will-change: auto;
}

input[type="checkbox"]:not(:disabled):hover:after {
    display: inline-block;
    position: relative;
    width: 16pt;
    height: 16pt;
    font-size: 14pt;
    text-align: center;
    line-height: 14pt;
    vertical-align: middle;
    color: $secondary;
    background-color: $primary;
    border: 2px solid $secondary;
    border-radius: 5px;
    content: "";
    margin: 2pt;
    will-change: auto;
}

.disabled {
    display: inline-block;
    position: relative;
    font-size: 16pt;
    width: 16pt;
    height: 16pt;
    color: $secondary;
    background-color: transparent;
    opacity: 0.5;
    pointer-events: none;
}

.clickable {
    display: inline-block;
    position: relative;
    font-size: 16pt;
    width: 16pt;
    height: 16pt;
    color: $secondary;
    background-color: transparent;
}